{% extends 'dashboard.twig' %}
{% import 'form.twig' as form %}

{% block head %}
		<meta name="description" content="{{ head.description }}">
		<meta name="author" content="{{ head.author }}">

		<title>{{ head.title }}</title>
{% endblock %}

{% block content %}

	<!-- ======= Profil Section ======= -->
	<section id="profil">
		<div class="container">
			<div class="section-heading mt-5">
				<h1>Mon compte</h1>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<form name="updateUserForm" id="updateUserForm" class="form" action="/user/update" method="POST">
						<h2 class="text-center">Informations du compte</h2>
						{{ form.text('lastName', 'Nom *', 'required', '', user.lastName) }}
						{{ form.text('firstName', 'Prénom *', 'required', '', user.firstName ) }}
						{{ form.email('email', 'Adresse de messagerie *', 'required', '', user.email) }}
						<br>
						<div id="success"></div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="updateUserButton">Modifier</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto my-5">
					<form name="updatePasswordForm" id="updatePasswordForm" class="form" action="/user/updatePassword" method="POST">
						<h2 class="text-center">Modifier le mot de passe</h2>
						{{ form.password('password', 'Nouveau mot de passe *', 'required') }}
						{{ form.password('passwordConfirm', 'Confirmer le mot de passe *', 'required') }}
						<br>
						<div id="success"></div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="updatePasswordButton">Modifier</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section><!-- End Profil Section -->

{% endblock %}

{% block script %}

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Toastr JavaScript -->
	<script src="/vendor/toastr/toastr.min.js"></script>		

	<!-- Custom scripts for Dashboard-->
	<script src="/public/js/dashboard/dashboard.min.js"></script>

	<!-- Custom scripts -->
	<script src="/public/js/flash.js"></script>
	<script src="/public/js/main.js"></script>

{% endblock %}