{% extends 'dashboard.twig' %}
{% import 'form.twig' as form %}

{% block head %}
        <meta name="description" content="{{ head.description }}">
        <meta name="author" content="{{ head.author }}">

        <title>{{ head.title }}</title>
{% endblock %}

{% block content %}

    <!-- ======= Create Store Section ======= -->
    <section id="createStore" class="section">
        <div class="container">
            <h1 class="section__title">Description du point de vente</h1>
            <p class="section__subtitle">
                Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.
            </p>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form name="createStoreForm" id="createStoreForm" action="" method="POST" novalidate>
                        {{ form.text('name', 'Nom du point de vente:', 'Veuillez entrer le nom du point de vente.') }}
                        {{ form.textarea('description', 'Description :', 'Veuillez entrer une description.') }}
                        {{ form.select('type', 'Type :', [{"value": "Vente à la ferme"}, {"value": "Marchés"}, {"value": "Drive fermier"}], 'Veuillez entrer un type de point de vente.') }}
                        {{ form.text('address', 'Adresse :', 'Veuillez entrer l\'adresse du point de vente.') }}
                        {{ form.text('postalCode', 'Code postal :', 'Veuillez entrer le code postal.') }}
                        {{ form.text('city', 'Ville :', 'Veuillez entrer la ville.') }}
                        {{ form.text('country', 'Pays :', 'Veuillez entrer le pays.') }}

                        <div id="createStoreMap"></div>

                        {{ form.text('lat', 'Latitude :', 'Veuillez entrer les coordonnées géographiques.') }}
                        {{ form.text('lng', 'Longitude :', 'Veuillez entrer les coordonnées géographiques.') }}
                        {{ form.checkbox('Alcool', 'checkbox[]', 'Alcool / cidre / bière', '1') }}
                        {{ form.checkbox('Jus', 'checkbox[]', 'Jus / Boissons sans alcool', '2') }}
                        {{ form.checkbox('Infusion', 'checkbox[]', 'Thé / infusion', '3') }}
                        {{ form.checkbox('Lait', 'checkbox[]', 'Lait / beurre / glace', '4') }}
                        {{ form.checkbox('Fromage', 'checkbox[]', 'Fromage', '5') }}
                        {{ form.checkbox('Œufs', 'checkbox[]', 'Œufs', '6') }}
                        {{ form.checkbox('Farine', 'checkbox[]', 'Farine', '7') }}
                        {{ form.checkbox('Légumes', 'checkbox[]', 'Légumes', '8') }}
                        {{ form.checkbox('Fruits', 'checkbox[]', 'Fruits', '9') }}
                        {{ form.checkbox('Bœuf', 'checkbox[]', 'Viande de bœuf / veau', '10') }}
                        {{ form.checkbox('Mouton', 'checkbox[]', 'Viande d\'agneau / mouton / chèvre', '11') }}
                        {{ form.checkbox('Volaille', 'checkbox[]', 'Viande de volaille / lapin', '12') }}
                        {{ form.checkbox('Porc', 'checkbox[]', 'Viande de porc / charcuterie', '13') }}
                        {{ form.checkbox('Miel', 'checkbox[]', 'Miel', '14') }}
                        {{ form.checkbox('Escargots', 'checkbox[]', 'Escargots', '15') }}
                        {{ form.checkbox('Poisson', 'checkbox[]', 'Poisson / fruit de mer / algues', '16') }}
                        {{ form.checkbox('Aromates', 'checkbox[]', 'Aromates / épices', '17') }}
                        {{ form.text('phone', 'Téléphone :') }}
                        {{ form.text('email', 'Adresse électronique :') }}
                        {{ form.text('website', 'Site internet :') }}
                        {{ form.text('facebook', 'Page Facebook :') }}
                        {{ form.text('twitter', 'Page Twitter :') }}
                        {{ form.text('instagram', 'Page Instagram :') }}                                              
                        {{ form.text('monday', 'Lundi :') }}
                        {{ form.text('tuesday', 'Mardi :') }}
                        {{ form.text('wednesday', 'Mercredi :') }}
                        {{ form.text('thursday', 'Jeudi :') }}
                        {{ form.text('friday', 'Vendredi :') }}
                        {{ form.text('saturday', 'Samedi :') }}
                        {{ form.text('sunday', 'Dimanche :') }}

                        <br>
                        <div id="success"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary " id="createStoreButton">Soumettre le point de vente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Create Store Section -->
    
{% endblock %}

{% block script %}

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- Toastr JavaScript -->
    <script src="/vendor/toastr/toastr.min.js"></script>

    <!-- Custom scripts for Dashboard-->
    <script src="/public/js/dashboard/dashboard.min.js"></script>

    <script src="/public/js/map.js"></script>
    <script src="/public/js/marker.js"></script>
    <script src="/public/js/flash.js"></script>
    <script src="/public/js/createStore.js"></script>

{% endblock %}