{% extends 'dashboard.twig' %}

{% block description %}
    Description
{% endblock %}
{% block author %}
    Auteur
{% endblock %}
{% block title %}
    Title
{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Points de vente</h1>
    </div>

    <!-- DataTables -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tous mes points de vente</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tous mes points de vente</th>
                    </tr>
                </thead>
                <tbody>
                {% for store in allStores %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="">{{ store.name }}</div>
                                    <div class="">{{ store.address }}, {{ store.postalCode }} {{ store.city }}</div>
                                    <div class="">{{ store.type }}</div>
                                </div>
                                <div class="col-sm">
                                    <div class="">{{ store.status }}</div>
                                </div>
                                <div class="col-sm">
                                    <!-- Dropdown - Actions -->                            
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="dropdownActionsButton">
                                            <a class="dropdown-item" href="/store/update/{{ store.id }}">
                                                <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                <span>Modifier</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/store/delete/{{ store.id }}" data-toggle="modal" data-target="#deleteModal">
                                                <i class="fas fa-trash-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}                            
                </tbody>
            </table>
        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation de la suppression</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer cet élément ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
                    <a class="btn btn-primary" href="/user/logout">Oui</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}