{% extends 'dashboard.twig' %}

{% block head %}
        <meta name="description" content="{{ head.description }}">
        <meta name="author" content="{{ head.author }}">

        <title>{{ head.title }}</title>
{% endblock %}

{% block content %}

    <!-- DataTables -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary">{{ content.title }}</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{ content.title }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in allStores %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="datatables__content--name">{{ store.name }}</div>
                                        <div class="datatables__content--address">{{ store.address }}, {{ store.postalCode }} {{ store.city }}</div>
                                        <div class="datatables__content--type">{{ store.type }}</div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="datatables__content--name">{{ store.status }}</div>
                                    </div>
                                    <div class="col-sm">
                                        <!-- Dropdown - Actions -->
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="dropdownActionsButton">
                                                <a class="dropdown-item" href="/store/update/{{ store.id }}">
                                                    <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    <span>Modifier</span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/store/delete/{{ store.id }}">
                                                    <i class="fas fa-trash-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Delete Store Modal-->
    {% for store in allStores %}    
        <div class="modal fade" id="deleteStore{{ store.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteStore" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteStore">Suppression du point de vente</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Cette action est irréversible. Êtes-vous sûr de vouloir supprimer ce point de vente ?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="/store/delete/{{ store.id }}">Supprimer</a>
                        <button class="btn btn-primary" type="button" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Toastr JavaScript -->
    <script src="/vendor/toastr/toastr.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/public/js/dashboard/datatables.js"></script>

    <!-- Custom scripts for Dashboard-->
    <script src="/public/js/dashboard/dashboard.min.js"></script>

    <!-- Custom scripts -->
    <script src="/public/js/flash.js"></script>
    <script src="/public/js/authentication.js"></script>

{% endblock %}