{% extends 'dashboard.twig' %}
{% import 'form.twig' as form %}

{% block head %}
		<meta name="description" content="{{ head.description }}">
		<meta name="author" content="{{ head.author }}">

		<title>{{ head.title }}</title>
{% endblock %}

{% block content %}

	<!-- ======= Update Store Section ======= -->
	<section id="updateStore">
		<div class="container">
            <div class="section-heading mt-5">
				<h1>Modifier le point de vente</h1>
			</div>
			<div class="row">
				<div class="col-md-10 mx-auto form">
					<form name="updateStoreForm" id="updateStoreForm" action="/store/update/{{ store.id }}" method="POST">
						<h2>Description du point de vente</h2>
						{{ form.text('name', 'Nom du point de vente *', 'required', '', store.name) }}
						{{ form.textarea('description', 'Description *', 'required', '', store.description) }}
						{{ form.select('type', 'Type *', [{"value": "Vente à la ferme"}, {"value": "Marchés"}, {"value": "Drive fermier"}], 'required', store.type) }}

						<h2>Produits commercialisés</h2>
						<div class="row mb-3">
							<div class="col-sm-4">
								{{ form.checkbox('Alcool', 'checkbox[]', 'Alcool / cidre / bière', 'Alcool / cidre / bière', 'Alcool / cidre / bière' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Jus', 'checkbox[]', 'Jus / boissons sans alcool', 'Jus / boissons sans alcool', 'Jus / boissons sans alcool' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Infusion', 'checkbox[]', 'Thé / infusion', 'Thé / infusion', 'Thé / infusion' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Lait', 'checkbox[]', 'Lait / beurre / glace', 'Lait / beurre / glace', 'Lait / beurre / glace' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Fromage', 'checkbox[]', 'Fromage', 'Fromage', 'Fromage' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Œufs', 'checkbox[]', 'Œufs', 'Œufs', 'Œufs' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Farine', 'checkbox[]', 'Farine', 'Farine', 'Farine' in store.products|products ? 'checked' : null) }} 
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Légumes', 'checkbox[]', 'Légumes', 'Légumes', 'Légumes' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Fruits', 'checkbox[]', 'Fruits', 'Fruits', 'Fruits' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Bœuf', 'checkbox[]', 'Bœuf / veau', 'Bœuf / veau', 'Bœuf / veau' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Mouton', 'checkbox[]', 'Agneau / mouton / chèvre', 'Agneau / mouton / chèvre', 'Agneau / mouton / chèvre' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Volaille', 'checkbox[]', 'Volaille / lapin', 'Volaille / lapin', 'Volaille / lapin' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Porc', 'checkbox[]', 'Porc / charcuterie', 'Porc / charcuterie', 'Porc / charcuterie' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Miel', 'checkbox[]', 'Miel', 'Miel', 'Miel' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Escargots', 'checkbox[]', 'Escargots', 'Escargots', 'Escargots' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Poisson', 'checkbox[]', 'Poisson / fruit de mer / algues', 'Poisson / fruit de mer / algues', 'Poisson / fruit de mer / algues' in store.products|products ? 'checked' : null) }}
							</div>
							<div class="col-sm-4">
								{{ form.checkbox('Aromates', 'checkbox[]', 'Aromates / épices', 'Aromates / épices', 'Aromates / épices' in store.products|products ? 'checked' : null) }}
							</div>
						</div>
						
						<h2>Adresse et contact</h2>
						<div class="row">
							<div class="col-sm-6">
								{{ form.text('address', 'Adresse *', 'required', '', store.address) }}
							</div>
							<div class="col-sm-6">
								{{ form.text('postalCode', 'Code postal *', 'required', '', store.postalCode) }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								{{ form.text('city', 'Ville *', 'required', '', store.city) }}
							</div>
							<div class="col-sm-6">
								{{ form.text('country', 'Pays *', 'required', '', store.country) }}
							</div>
						</div>

						<!-- ======= Update Store Map ======= -->
						<div id="updateStoreMap" class="map"></div>
						
						<div class="row">
							<div class="col-sm-6">
								{{ form.text('lat', 'Latitude *', 'required', '', store.lngLat|latitude) }}
							</div>
							<div class="col-sm-6">
								{{ form.text('lng', 'Longitude *', 'required', '', store.lngLat|longitude) }}
							</div>
						</div>

						{{ form.text('phone', 'Téléphone', '', '', store.phone) }}
						{{ form.text('email', 'Adresse électronique', '', '', store.email) }}
						{{ form.text('website', 'Site internet', '', '', store.website) }}
						{{ form.text('facebook', 'Page Facebook', '', '', store.facebook) }}
						{{ form.text('twitter', 'Page Twitter', '', '', store.twitter) }}
						{{ form.text('instagram', 'Page Instagram', '', '', store.instagram) }}                                              
						
						<h2>Horaires</h2>
						{{ form.text('monday', 'Lundi', '', '', store.monday) }}
						{{ form.text('tuesday', 'Mardi', '', '', store.tuesday) }}
						{{ form.text('wednesday', 'Mercredi', '', '', store.wednesday) }}
						{{ form.text('thursday', 'Jeudi', '', '', store.thursday) }}
						{{ form.text('friday', 'Vendredi', '', '', store.friday) }}
						{{ form.text('saturday', 'Samedi', '', '', store.saturday) }}
						{{ form.text('sunday', 'Dimanche', '', '', store.sunday) }}

						{% if session.user.role == "admin" %}
							{{ form.select('status', 'Statut', [{"value": "En attente"}, {"value": "Approuvé"}, {"value": "Rejeté"}], '' ,store.status) }}
						{% endif %}

						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="updateStoreButton">Modifier le point de vente</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section><!-- End Update Store Section -->
	
{% endblock %}

{% block script %}

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Leaflet JavaScript -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

	<!-- Toastr JavaScript -->
	<script src="/vendor/toastr/toastr.min.js"></script>

	<!-- Custom scripts for Dashboard-->
	<script src="/public/js/dashboard/dashboard.min.js"></script>

	<script src="/public/js/map.js"></script>
	<script src="/public/js/marker.js"></script>
	<script src="/public/js/flash.js"></script>
	<script src="/public/js/updateStore.js"></script>

{% endblock %}