{% extends 'dashboard.twig' %}
{% import 'form.twig' as form %}

{% block head %}
        <meta name="description" content="{{ head.description }}">
        <meta name="author" content="{{ head.author }}">

        <title>{{ head.title }}</title>
{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier le point de vente</h1>
    </div>

    <!-- ======= Update Store Section ======= -->
    <section id="updateStore" class="section">
        <div class="container">
{#             <h2 class="section__title">Description du point de vente</h2>
            <p class="section__subtitle">Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
 #}            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form name="updateStoreForm" id="updateStoreForm" action="" method="POST" novalidate>

                        {{ form.text('name', 'Nom du point de vente:', 'Veuillez entrer le nom du point de vente.', '', store.name) }}
                        {{ form.textarea('description', 'Description :', 'Veuillez entrer une description.', '', store.description) }}

                        {{ form.select('type', 'Type :', [{"value": "Vente à la ferme"}, {"value": "Marchés"}, {"value": "Drive fermier"}], 'Veuillez entrer un type de point de vente.', store.type) }}
                        
                        {{ form.text('address', 'Adresse :', 'Veuillez entrer l\'adresse du point de vente.', '', store.address) }}
                        {{ form.text('postalCode', 'Code postal :', 'Veuillez entrer le code postal.', '', store.postal_code) }}
                        {{ form.text('city', 'Ville :', 'Veuillez entrer la ville.', '', store.city) }}
                        {{ form.text('country', 'Pays :', 'Veuillez entrer le pays.', '', store.country) }}
                        <div id="updateStoreMap"></div>								 
                        {{ form.text('lat', 'Latitude :', 'Veuillez entrer les coordonnées géographiques.', '', store.wkt | latitude) }}
                        {{ form.text('lng', 'Longitude :', 'Veuillez entrer les coordonnées géographiques.', '', store.wkt | longitude) }}

                        {{ 'Alcool / cidre / bière' in store.family_name|products ? form.checkbox('Alcool', 'checkbox[]', 'Alcool / cidre / bière', '1', 'checked') : form.checkbox('Alcool', 'checkbox[]', 'Alcool / cidre / bière', '1') }}
                        {{ 'Jus / Boissons sans alcool' in store.family_name|products ? form.checkbox('Jus', 'checkbox[]', 'Jus / Boissons sans alcool', '2', 'checked') : form.checkbox('Jus', 'checkbox[]', 'Jus / Boissons sans alcool', '2') }}
                        {{ 'Thé / infusion' in store.family_name|products ? form.checkbox('Infusion', 'checkbox[]', 'Thé / infusion', '3', 'checked') : form.checkbox('Infusion', 'checkbox[]', 'Thé / infusion', '3') }}
                        {{ 'Lait / beurre / glace' in store.family_name|products ? form.checkbox('Lait', 'checkbox[]', 'Lait / beurre / glace', '4', 'checked') : form.checkbox('Lait', 'checkbox[]', 'Lait / beurre / glace', '4') }}
                        {{ 'Fromage' in store.family_name|products ? form.checkbox('Fromage', 'checkbox[]', 'Fromage', '5', 'checked') : form.checkbox('Fromage', 'checkbox[]', 'Fromage', '5') }}
                        {{ 'Œufs' in store.family_name|products ? form.checkbox('Œufs', 'checkbox[]', 'Œufs', '6', 'checked') : form.checkbox('Œufs', 'checkbox[]', 'Œufs', '6') }}
                        {{ 'Farine' in store.family_name|products ? form.checkbox('Farine', 'checkbox[]', 'Farine', '7', 'checked') : form.checkbox('Farine', 'checkbox[]', 'Farine', '7') }}
                        {{ 'Légumes' in store.family_name|products ? form.checkbox('Légumes', 'checkbox[]', 'Légumes', '8', 'checked') : form.checkbox('Légumes', 'checkbox[]', 'Légumes', '8') }}
                        {{ 'Fruits' in store.family_name|products ? form.checkbox('Fruits', 'checkbox[]', 'Fruits', '9', 'checked') : form.checkbox('Fruits', 'checkbox[]', 'Fruits', '9') }}
                        {{ 'Viande de bœuf / veau' in store.family_name|products ? form.checkbox('Bœuf', 'checkbox[]', 'Viande de bœuf / veau', '10', 'checked') : form.checkbox('Bœuf', 'checkbox[]', 'Viande de bœuf / veau', '10') }}
                        {{ 'Viande d\'agneau / mouton / chèvre' in store.family_name|products ? form.checkbox('Mouton', 'checkbox[]', 'Viande d\'agneau / mouton / chèvre', '11', 'checked') : form.checkbox('Mouton', 'checkbox[]', 'Viande d\'agneau / mouton / chèvre', '11') }}
                        {{ 'Viande de volaille / lapin' in store.family_name|products ? form.checkbox('Volaille', 'checkbox[]', 'Viande de volaille / lapin', '12', 'checked') : form.checkbox('Volaille', 'checkbox[]', 'Viande de volaille / lapin', '12') }}
                        {{ 'Viande de porc / charcuterie' in store.family_name|products ? form.checkbox('Porc', 'checkbox[]', 'Viande de porc / charcuterie', '13', 'checked') : form.checkbox('Porc', 'checkbox[]', 'Viande de porc / charcuterie', '13') }}
                        {{ 'Miel' in store.family_name|products ? form.checkbox('Miel', 'checkbox[]', 'Miel', '14', 'checked') : form.checkbox('Miel', 'checkbox[]', 'Miel', '14') }}
                        {{ 'Escargots' in store.family_name|products ? form.checkbox('Escargots', 'checkbox[]', 'Escargots', '15', 'checked') : form.checkbox('Escargots', 'checkbox[]', 'Escargots', '15') }}
                        {{ 'Poisson / fruit de mer / algues' in store.family_name|products ? form.checkbox('Poisson', 'checkbox[]', 'Poisson / fruit de mer / algues', '16', 'checked') : form.checkbox('Poisson', 'checkbox[]', 'Poisson / fruit de mer / algues', '16') }}
                        {{ 'Aromates / épices' in store.family_name|products ? form.checkbox('Aromates', 'checkbox[]', 'Aromates / épices', '17', 'checked') : form.checkbox('Aromates', 'checkbox[]', 'Aromates / épices', '17') }}

                        {{ form.text('phone', 'Téléphone :', '', store.phone) }}
                        {{ form.text('email', 'Adresse électronique :', '', store.email) }}
                        {{ form.text('website', 'Site internet :', '', store.website) }}
                        {{ form.text('facebook', 'Page Facebook :', '', store.facebook) }}
                        {{ form.text('twitter', 'Page Twitter :', '', store.twitter) }}
                        {{ form.text('instagram', 'Page Instagram :', '', store.instagram) }}                                              
                        {{ form.text('monday', 'Lundi :', '', store.monday) }}
                        {{ form.text('tuesday', 'Mardi :', '', store.tuesday) }}
                        {{ form.text('wednesday', 'Mercredi :', '', store.wednesday) }}
                        {{ form.text('thursday', 'Jeudi :', '', store.thursday) }}
                        {{ form.text('friday', 'Vendredi :', '', store.friday) }}
                        {{ form.text('saturday', 'Samedi :', '', store.saturday) }}
                        {{ form.text('sunday', 'Dimanche :', '', store.sunday) }}

                        <br>
                        <div id="success"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="updateStoreButton">Modifier le point de vente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Update Store Section -->
    
{% endblock %}

{% block script %}

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Leaflet JavaScript -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

	<!-- Toastr JavaScript -->
	<script src="/vendor/toastr/toastr.min.js"></script>

	<!-- Custom scripts for Dashboard-->
	<script src="/public/js/dashboard/dashboard.min.js"></script>

	<script src="/public/js/map.js"></script>
	<script src="/public/js/marker.js"></script>
	<script src="/public/js/flash.js"></script>
	<script src="/public/js/updateStore.js"></script>

{% endblock %}